.bottom_main{
    position: relative;
    position: absolute;
    top: 1810px;
    left: 30px;
}

.info_number{
    position: absolute;
width: 392px;
height: 37px;
left: 55px;
top: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
color: #000000;
}

.num1{
    position: absolute;
    width: 145px;
    height: 59px;
    left: 55px;
    top: 105px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color:  #FDDB16;
}

.word1{
 position: absolute;
width: 222px;
height: 29px;
left: 205px;
top: 120px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}

.num2{
position: absolute;
width: 31px;
height: 59px;
left: 560px;
top: 105px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #FDDB16;
}

.word2{
position: absolute;
width: 164px;
height: 29px;
left: 600px;
top: 120px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}

.num3{
    position: absolute;
    width: 31px;
    height: 59px;
    left: 890px;
    top: 105px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FDDB16;
}

.word3{
    position: absolute;
    width: 261px;
    height: 29px;
    left: 1020px;
    top: 120px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}