.cap_list_item {
    display: flex;
    height: 330px;
    width: 250px;
    flex-direction: column;
    background-color: #f3f2f2;
    border: 1px solid rgba(196, 196, 196, 0.5);
    border-radius: 25px;
    margin: 0 10px 15px 0;


    &_img{
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        height: 100%;
        margin: 10px;
    }

    &_desc
    {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 25px;
        border: 1px solid rgba(196, 196, 196, 0.5);
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;

        & > div
        {
            & > h2
            {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #847E7E;
                margin: 5px 0;
            }

            & > p
            {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: -0.05em;
                color: #847E7E;
                margin: 0;
            }
        }

        & > p
        {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            color: #FDDB16;
        }
    }
}